## 기본

# 환경 변수
.env
.env.local
.env.*.local

# 의존성
node_modules/
vendor/
venv/
__pycache__/


# IDE 설정
.vscode/
.idea/
*.swp
*.swo
*~

# 임시 파일
*.tmp
*.temp
*.cache

# 데이터베이스
*.db
*.sqlite
*.sqlite3


## lj
*.csv

